
    <li class="list-group-items text-center align-middle" data-id="{{id}}" data-doesexist="{{exists}}">
        <form class="form-inline" id="article">
            <a href="{{link}}" class="article-item">
                <h1>{{title}}</h1>
            </a>
            <input class="form-control form-control-lg comment-body" type="text" placeholder="Add a comment...">
            <button type="submit" class="add-comment" data-id="{{this.id}}">Add Comment</button>
        </form>
    </li>

